<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svcc_jhs_online_grade_monitoring_system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/svcc_log2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/svcc_log2"
        android:supportsRtl="true"
        android:theme="@style/Theme.SVCC_JHS_Online_Grade_Monitoring_System">
        <activity android:name=".ParentMenu"></activity>
        <activity android:name=".StudentMenu" />
        <activity android:name=".Masterlist" />
        <activity android:name=".StudentGrade" />
        <activity android:name=".TeacherMenu" />
        <activity android:name=".AddAdvisory" />
        <activity android:name=".ViewEditProfileParent" />
        <activity android:name=".ViewEditProfile" />
        <activity android:name=".AddParent" />
        <activity android:name=".AddStudent" />
        <activity android:name=".AddEmployee" />
        <activity android:name=".LoginNonEmployee" />
        <activity android:name=".LoginEmployee" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".actLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>